.list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.list__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.list__column {
    max-height: 380px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    scrollbar-width: none; /* hide scrollbar on Firefox */
    -ms-overflow-style: none; /* hide scrollbar on IE and Edge */
}

.list__column::-webkit-scrollbar {
    display: none; /* hide scrollbar on Chrome, Safari, and Opera */
}

.project__icon {
    list-style: none;
    width: 60px;
    height: 60px;
}

.arrows {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.arrow_down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    margin: 0;

}

.arrow_down svg path {
    width: 40px;
    height: 30px;
}