body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glitch {
  filter: blur(0.5px) drop-shadow(-2px 0 2px rgba(238, 107, 37, 35%)) drop-shadow(2px 0 2px rgba(34, 101, 203, 35%));
}

.glitch_no_blur {
  filter: drop-shadow(-2px 0 2px rgba(238, 107, 37, 35%)) drop-shadow(2px 0 2px rgba(34, 101, 203, 35%));
}
